*{
    margin:0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

button, input {
  border-radius: 4px;
  cursor: pointer;
}

button:hover{
    opacity: 0.85;
}

.delete-all{
    transform: scale(1.4);
    background-color: red;
}

.task-text{
    /* margin: 20px 20px 20px 50px; */
    font-size: 1.5rem;
    word-wrap: break-word;
    cursor: pointer;
    width: 100px;
}

.edit{
    font-size: 16px;
    transform: scale(1.3);
    background-color: rgb(64, 234, 64);
    margin-right: 10px;
    width: 2.5rem;

}

.editing p {
    border: 1px dashed gray;
    padding: 4px 8px;
    background-color: #f5f5f5;
}


.task{
    display: flex;
    align-items: center;
    gap:20px;
    margin: 15px;
    flex-wrap: wrap;
}

.done p{
    opacity: 0.7;
    text-decoration: line-through;
}

.del{
    text-align: center;
    /* margin-left:30px; */
    transform: scale(1.5);
    background-color: #f44336;
    border: 0.5px solid black;
    height: 1.2rem;
    width:2.8rem;
    text-decoration: none;
}

body{
    /* background-color:lightblue; */
    background-color: rgb(116, 202, 230);
    color:white;
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box{
    border: 0.1rem solid black;
    height:39rem;
    width:60rem;
    background-color: white;
    color:black;
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
}

.head{
    height: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.5rem;
    gap: 1rem;
    padding-top: 10px;
    border: 2px solid black;
}

.enter{
    display: flex;
    height: 30px;
    width: 85%;
    align-items: center;
    padding-left: 70px;
}


@media(max-width:600px) {
    .enter{
        padding-left: 0px;
    }
    .delete-all{
        margin-left: 1rem;
    }
}

.left{
    display: flex;
    margin: 0 auto;   /* centers input + add */
}

#text{
    text-align: center;
    border: 2px solid black;
    border-right: none;
    /* margin-left: 3rem; */
}

input{
    transform: scale(1.5);
}

.add-btn{
    margin-left: 50px;
    transform: scale(1.5);
    border: 2px solid black;
    background-color: yellow;
    width: 1.9rem; 
}


.alltasks{
    display: flex;
    flex-wrap: wrap;
    height: 31rem;
    flex-direction: column;
    border: 2px solid black;
}



